<ion-header>
  <ion-navbar>
    <ion-title>
      LaundryWatcher
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg">

  <ion-card *ngFor="let washing of washing_list; let i = index">
    <ion-card-content>
      <img class="image" src="http://bpc.h-cdn.co/assets/16/32/480x720/gallery-1470757558-whirlpool-top-load-washing-machine.jpg" />
      <div>
      <div class="header">
        {{washing}}
      </div>
      <div *ngIf="washing_status_list[i] == 'available'" class="available">Available Now!</div>
      <div *ngIf="washing_status_list[i] == 'in use'" class="inuse">In use</div>
      <div *ngIf="washing_status_list[i] == 'in use'">Start at: {{washing_start_time_list[i]}}</div>
      <div *ngIf="washing_status_list[i] == 'in use'">Time remaining: {{washing_remaining_time_list[i]}}</div>
      <!-- <div><progress-bar class="progressbar" [progress]="loadProgress"></progress-bar></div> -->
       <!-- <button ion-button clear color="blue" item-left>Reserve</button> -->
    </div>
    </ion-card-content>
    <ion-item *ngIf="washing_status_list[i] == 'in use'">
     <button ion-button clear item-left (click)="getWashingNotified(washing)"><ion-icon name="md-alarm" color="blue">&nbsp;</ion-icon>Get notified when available</button>
   </ion-item>
  </ion-card>

  <ion-card *ngFor="let dryer of dryer_list; let i = index">
    <ion-card-content>
      <img class="image" src="http://c.shld.net/rpx/i/s/i/spin/10000003/prod_1421226412?hei=245&wid=245&op_sharpen=1&qlt=85" />
      <div>
      <div class="header">
        {{dryer}}
      </div>
      <div *ngIf="dryer_status_list[i] == 'available'" class="available">Available Now!</div>
      <div *ngIf="dryer_status_list[i] == 'in use'" class="inuse">In use</div>
      <div *ngIf="dryer_status_list[i] == 'in use'">Start at: {{dryer_start_time_list[i]}}</div>
      <div *ngIf="dryer_status_list[i] == 'in use'">Time remaining: {{dryer_remaining_time_list[i]}}</div>
      <!-- <div><progress-bar class="progressbar" [progress]="loadProgress"></progress-bar></div> -->
    </div>
    </ion-card-content>
    <ion-item *ngIf="dryer_status_list[i] == 'in use'">
     <button ion-button clear item-left (click)="getDryerNotified(dryer)"><ion-icon name="md-alarm" color="blue">&nbsp;</ion-icon>Get notified when available</button>
   </ion-item>
  </ion-card>


</ion-content>
